<?xml version="1.0" encoding="utf-8"?>
<!--
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:
     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
  <system.webServer>
    <!-- Visit http://blogs.msdn.com/b/windowsazure/archive/2013/11/14/introduction-to-websockets-on-windows-azure-web-sites.aspx for more information on WebSocket support -->
    <webSocket enabled="false" />
    <handlers>
      <!-- Indicates that the server.js file is a node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
  <rules>
    <!-- Rewrite all http requests to https -->
   <!--  <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
      <match url="(.*)" />
      <conditions>
        <add input="{HTTPS}" pattern="^OFF$" />
      </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
    </rule> -->
    <!-- Rewrite all www requests to .domain -->
   <!--  <rule name="Redirect www.domain.com to domain.com" patternSyntax="ECMAScript" stopProcessing="true">
      <match url=".*" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="^www.domain.com$" />   
      </conditions>
      <action type="Redirect" url="https://domain.com/{R:0}" />
    </rule> -->
    <!-- Don't interfere with requests for logs -->
    <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$" />
    </rule>
    <!-- Do not interfere with requests for node-inspector debugging -->
    <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
      <match url="^server.js\/debug[\/]?" />
    </rule>
    <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
   <!--  <rule name="StaticContent">
      <action type="Rewrite" url="public{REQUEST_URI}" />   
    </rule> -->
    <rule name="APIrOUTES">
       <match url="^api\/(.*)" />
      <action type="Rewrite" url="meanjs/{R:1}" />
    </rule>

    <!-- All other URLs are mapped to the node.js site entry point -->
   <!-- <rule name="DynamicContent">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
      </conditions>
      <action type="Rewrite" url="/meanjs/server.js" />
    </rule>-->
	
	<rule name="DynamicContent">
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
      </conditions>
      <action type="Rewrite" url="/storage/server.js" />
    </rule>
   
  </rules>
</rewrite>
    
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!--
      You can control how Node is hosted within IIS using the following options:
        * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
        * node_env: will be propagated to node as NODE_ENV environment variable
        * debuggingEnabled - controls whether the built-in debugger is enabled
      See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for a full list of options
    -->
    <iisnode watchedFiles="sentinel;web.config;iisnode.yml;*.js;routes\*.js;routes\*.json;modules\*.*" promoteServerVars="LOGON_USER,AUTH_USER,AUTH_TYPE" debuggerPortRange="5058-6058" debuggerPathSegment="debug" node_env="development" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="100" namedPipeConnectionRetryDelay="250" asyncCompletionThreadCount="0"  loggingEnabled="true" logDirectory="iisnode" debuggingEnabled="false" debugHeaderEnabled="false" maxLogFileSizeInKB="128" maxTotalLogFileSizeInKB="1024" maxLogFiles="20" devErrorsEnabled="false" flushResponse="true" />
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
  </system.webServer>
   <appSettings>
    <add key="WFA_SERVER_AUTHORIZATION" value="Basic YWRtaW46UEBzc3cwcmQ=" />
    <add key="LDAP_BIND_DN" value="CN=_VFMAdmin,OU=SPL,OU=Users,OU=KEC,OU=BLR,OU=IND,DC=ad,DC=infosys,DC=com" />
    <add key="SQL_USER_PASSWORD" value="%Serv1Df$@5#" />
    <add key="SQL_USER" value="_VFMAdmin" />
    <add key="SQL_AUTH_TYPE" value="ntlm" />
    <add key="LDAP_SEARCH_BASE" value="DC=AD,DC=INFOSYS,DC=COM" />
    <add key="LDAP_URL" value="LDAP://192.168.200.51:389/DC=AD,DC=INFOSYS,DC=COM" />
    <add key="SQL_SERVER" value="BLRKECEMAGREP01" />
    <add key="WFA_SERVER_HOST" value="10.67.41.170" />
    <add key="WFA_SERVER_MYSQL_PASSWORD" value="Wfa123" />
    <add key="LDAP_BIND_CREDENTIALS" value="%Serv1Df$@5#" />
    <add key="MAILER_SERVICE_PROVIDER" value="10.66.236.236" />
    <add key="SQL_DOMAIN" value="ad.infosys.com" />
    <add key="WFA_SERVER_MYSQL_USERNAME" value="wfa" />
    <add key="MAILER_FROM" value="STRAdmin@infosys.com" />
    <add key="MAILER_EMAIL_ID" value="_VFMAdmin" />
    <add key="MAILER_PASSWORD" value="%Serv1Df$@5#" />
    <add key="SQL_DB" value="CCD" />
	<add key="DOMAIN" value="http://blrkecstrg01/storage" />	
	<add key="NODE_ENV" value="development" />
  </appSettings>
</configuration>