<section>
    <div class="page-header">
      <h2 class="text-center">Request: {{vm.categories[vm.share.category]}}</h2>
    </div>
	<div class="row">
		<div class="col-md-5  col-sm-5  col-lg-5">
			<table class="table table-striped">
				<tr><th>Location</th><td ng-bind="vm.share.city"></td></tr>
				<tr><th>Business Unit</th><td ng-bind="vm.share.bu"></td></tr>            
				<tr ng-if="vm.share.category=='newShare'"><th>Read Only(DV)</th><td ng-bind="vm.share.readOnly" class="word-break-all break-word "></td></tr>
				<tr ng-if="vm.share.category=='newShare'"><th>Read And Write(PL)</th><td ng-bind="vm.share.readAndWrite" class="word-break-all break-word "></td></tr>
				<tr ng-if="vm.share.category=='newShare'"><th style="width:200px;">Read Write And Modify(CC)</th><td ng-bind="vm.share.readWriteAndModify" class="word-break-all break-word "></td></tr>   
				<tr ng-if="vm.share.category=='newShare'"><th>Cost</th><td>{{vm.share.cost}}$</td></tr>
	            <tr ng-if="vm.share.category=='newShare'"><th>Size</th><td>{{vm.share.sizegb}}GB</td></tr> 

				<tr class="danger">
					<th>Error</th>
					<td>
						{{vm.share.error || "None"}}
					</td>
				</tr>      

				
			</table>
		</div>
		<div class="col-md-1 col-sm-1  col-lg-1">
			
		</div>
		<div class="col-md-5  col-sm-5 col-lg-5">
	        <table class="table table-striped">
	            <tr><th>Project Code</th><td ng-bind="vm.share.projectCode"></td></tr>
	            <tr><th>Category</th><td ng-bind="vm.categories[vm.share.category]"></td></tr>
	            <tr ng-if="vm.share.category=='newShare'"><th>Storage Requirement</th><td>
				<ul ng-repeat="(file, details) in vm.share.storage">
					<li ng-if="details==true" style="list-style-type: square;">
	                    {{ vm.fileSizeTypes[file]}}
	                  </li>
					  </ul>
				</td></tr>	           
	            <tr ng-if="vm.share.category=='changePermission'"><th>Selected Operation</th><td ng-bind="vm.allowedOperations[vm.share.operation]" class="word-break-all"></td></tr>
	            <tr ng-if="vm.share.category=='changePermission' && vm.share.operation != 'addUserOrGroupToShare'"><th>ACL Group</th><td ng-bind="vm.share.acl_group" class="word-break-all"></td></tr>
	            <tr ng-if="vm.share.category=='changePermission' && (vm.share.operation == 'addUserToADGroup' || vm.share.operation == 'removeUserFromADGroup')"><th>ACL UserIds</th><td ng-bind="vm.share.acl_users" class="word-break-all"></td></tr>

	            <tr ng-if="vm.share.category=='changePermission' && vm.share.operation == 'addUserOrGroupToShare'"><th>ACL User or group</th><td ng-bind="vm.share.userOrGroupName" class="word-break-all break-word "></td></tr>

	            <tr ng-if="vm.share.category=='changePermission' && vm.share.operation == 'addUserOrGroupToShare'"><th>ACL User or group Permissions</th><td ng-bind="vm.allowedPermissions[vm.share.userOrGroupPermissions]" class="word-break-all"></td></tr>

	            <tr ng-if="vm.share.category=='rename'"><th>New Name</th><td ng-bind="vm.share.newName" class="word-break-all"></td></tr>

	            <tr ng-if="vm.share.category=='resize'"><th>New Size</th><td class="word-break-all">{{vm.share.newSizegb}}GB</td></tr>  
	            <tr><th>Request Raised On</th>
					<td ng-bind="vm.share.created | date:'mediumDate'"></td></tr>
				<tr ng-if="vm.isAdmin"><th>Request Raised By</th> 
					<td  ng-bind="vm.share.user.displayName"></td>
				</tr>
				<tr><th>Status</th>
					<!-- <td ng-bind="vm.share.status" class="word-break-all"></td> -->
					<td ng-init="vm.listStatus()">
						<form name="vm.form.shareForm" class="form-horizontal" ng-submit="vm.fix(vm.form.shareForm.$valid)" novalidate>
							<div class="form-group" show-errors >
				                <label for="status" class="control-label" >Select Status</label>   
				                <select name="category" ng-model="vm.share.status" id="status" class="form-control" ng-options="status for status in vm.validStatusesToAssign" ng-required="true">
				                  <option value="">Please select a Status</option>
				                </select>
			                     
				                <div ng-messages="vm.form.shareForm.status.$error" role="alert">
				                  <p class="help-block error-text" ng-message="required">Status is required.</p>
				                </div>              
			              	</div>
						</form>
					</td>
				</tr>
				
				<tr ng-show="(vm.share.status=='Approved' || vm.share.status=='Rejected')">
					<th>Comment</th>
					<td>
						<input type="text" name="comment" ng-model="vm.comment">
					</td>
				</tr>	
				
	        </table>
    	</div>
    </div>
	<div class="row">
      <div class="form-group col-md-6 col-sm-6 col-xs-6 col-lg-6" >
          <button type="button" class="btn btn-xs1 btn-primary pull-right" ui-sref="shares.list">Back</button>
          <span class="pull-right">&nbsp;</span>
          <button type="submit" class="btn btn-primary pull-right" ng-click="vm.fix(vm.form.shareForm.$valid)">Update</button>
        </div>
    </div>
    
  </section>
  