<section>
    <div class="page-header">
      <h1>{{vm.share._id ? 'Edit Request' : 'New Request'}}</h1>
    </div>
    <div class="pull-right">
      <a ng-if="vm.share._id" class="btn btn-primary" ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <div  ng-init="vm.calculateCapacity();">
      <form name="vm.form.shareForm" class="form-horizontal" ng-submit="vm.save(vm.form.shareForm.$valid)" novalidate>
        <fieldset>
          <div class="row">
            <div class="col-md-5 pull-left">
              <div class="row">
                  <label class="control-label col-md-4 text-left" for="bu">Business Unit</label>
                  <label class="content-right col-md-8" name="bu">{{vm.share.bu}}</label>
              </div>  
              <div class="row" ng-if="vm.share.category =='newShare'">
                  <label class="control-label col-md-4 text-left" for="bu">Category</label>
                  <label class="content-right col-md-8" name="bu">{{vm.categories[vm.share.category]}}</label>
              </div>              
              <div class="form-group" show-errors ng-if="vm.share.category !='newShare'">
                <label for="category" class="control-label" >Select Category</label>   
                <select name="category" ng-model="vm.share.category" id="category" class="form-control" ng-options="key as value for (key , value) in vm.getFilteredCategories()" ng-required="true">
                  <option value="">Please select a Category</option>
                </select>
               
                     
                <div ng-messages="vm.form.shareForm.category.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Category is required.</p>
                </div>              
              </div>
              <div class="form-group" show-errors ng-if="vm.share.category == 'newShare'"> 
                  <label class="control-label" for="readOnly">Read Only(DV)</label>
				          <p class="outlined" ng-if="vm.readOnly.length > 0">
				            <span class="selectedUser" ng-repeat=" user in vm.readOnly">
                      <span>{{user.id}}</span>
                        <span aria-hidden="true" class="close inner-close" ng-click="vm.removeItem(vm.readOnly, $index)">&times;</span>
                  </p>
                  <div ng-dropdown-multiselect="" search-filter="vm.customFilter" options="vm.usersAndGroups" selected-model="vm.readOnly" extra-settings="vm.readOnlyAndWritesettings" translation-texts="vm.defaultUserSelectionText"  disabled= "(vm.usersAndGroups && vm.usersAndGroups.length > 0) ? false: true" events="vm.userDropdownInitEvents" class="readUsers" group-by="ADtype"></div>
				          <div class="loader" ng-show="vm.readLoader"></div>
                
              </div>
              <div class="form-group" show-errors ng-if="vm.share.category == 'newShare'">
                  <label class="control-label" for="readAndWrite" >Read And Write(PL)</label>
                 
				          <p class="outlined" ng-if="vm.readAndWrite.length > 0">
                    <span class="selectedUser" ng-repeat=" user in vm.readAndWrite">
                      <span>{{user.id}}</span>
                        <span aria-hidden="true" class="close inner-close" ng-click="vm.removeItem(vm.readAndWrite, $index)">&times;</span>
                  </p>
                  <div ng-dropdown-multiselect="" search-filter="vm.customFilter" options="vm.usersAndGroups" selected-model="vm.readAndWrite" extra-settings="vm.readOnlyAndWritesettings" translation-texts="vm.defaultUserSelectionText"  disabled= "(vm.usersAndGroups && vm.usersAndGroups.length > 0) ? false: true" events="vm.userDropdownRWInitEvents" class="readWriteUsers" group-by="ADtype"></div>
          			 	   <div class="loader" ng-show="vm.readWriteLoader"></div>
          		</div>
              <div class="form-group" show-errors ng-if="vm.share.category == 'newShare'">  
                    <label class="control-label" for="readWriteAndModify">Read Write And Modify(CC)</label>
                  <!-- <input name="readWriteAndModify" type="text" ng-model="vm.share.readWriteAndModify" id="readWriteAndModify" class="form-control" placeholder="UserIDs" ng-required="vm.share.category == 'newShare'" ng-pattern="/^([a-zA-Z\-0-9\._]*(?:;([a-zA-Z\-0-9\._])+)){1,}$/">
                  <div ng-messages="vm.form.shareForm.readWriteAndModify.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Read Write And Modify is required.</p>
                    <p class="help-block error-text" ng-message="pattern">Only semicolon separated userIDs allowed. Minimum 2 userIDs are needed.</p>
                  </div>
                  <p class="help-block">Semicolon(;) seperated list of userIDs</p> -->
				          <p class="outlined" ng-if="vm.readWriteAndModify.length > 0">
                    <span class="selectedUser" ng-repeat=" user in vm.readWriteAndModify">
                      <span>{{user.id}}</span>
                        <span aria-hidden="true" class="close inner-close" ng-click="vm.removeItem(vm.readWriteAndModify, $index)">&times;</span>
                  </p>
                  <div ng-dropdown-multiselect="" search-filter="vm.customFilter" options="vm.usersAndGroups" selected-model="vm.readWriteAndModify" extra-settings="vm.readWriteAndModifysettings" translation-texts="vm.defaultUserSelectionText" disabled= "(vm.usersAndGroups && vm.usersAndGroups.length > 0) ? false: true" events="vm.userDropdownRWMInitEvents" class="readWriteAndModifyUsers" group-by="ADtype"></div>
        				  <div class="loader" ng-show="vm.readWriteAndModifyLoader"></div>
        				   <p class="help-block">Minimum 2 userIDs are required</p>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 pull-left">
              <!--<div class="row">
                  <label class="control-label col-md-4 text-left" for="projectStartDate">Project Start Date</label>
                  <label class="content-right col-md-8" name="projectStartDate">{{vm.project.startDate |  date:'mediumDate'}}</label>
              </div>
              <div class="row">
                <label class="control-label col-md-4 text-left" for="projectEndDate">Project end Date</label>
                <label class="content-right col-md-8" name="projectEndDate">{{vm.project.endDate | date:'mediumDate'}}</label>
              </div>-->
              <div class="row" ng-if="vm.cifShareDetails.sharepath">
                  <label class="control-label col-md-4 text-left" for="sharePath">Share Path</label>
                  <label class="content-right col-md-8" name="sharePath">{{vm.cifShareDetails.sharepath}}</label>
                </div>
              <div class="row">
                <label class="control-label col-md-4 text-left" for="city">Location</label>
                <label class="content-right col-md-8" name="city">{{vm.share.city}}</label>
              </div>
			         <div class="row">
                <label class="control-label col-md-4 text-left" for="projectCode">Project Code</label>
                <label class="content-right col-md-8" name="projectCode">{{vm.share.projectCode}}</label>
              </div> 
              <div class="row"  ng-if="vm.share.category == 'newShare'">
                  <label class="control-label col-md-5 text-left" for="sizegb">Required Space (GB)</label>
                  <label class="content-right col-md-7" text-left name="sizegb">{{vm.share.sizegb || 0}}</label>
                </div>
				      <div class="row"  ng-if="vm.share.category == 'newShare'">
                  <label class="control-label col-md-5 text-left" for="cost">Cost($)</label>
                  <label class="content-right col-md-7 text-left" name="cost">{{vm.share.cost || 0}}</label>
              </div>
              <div class="show-grid row"  ng-if="vm.share.category == 'newShare'">
                  <div class="">
                    <label class="control-label" for="readWriteAndModify">Storage Requirement For:</label>
                  </div>
              </div>
              <div class="show-grid row" ng-if="vm.share.category == 'newShare'">
                  <div class="form-group col-md-4">
                    <label for="officeFile">Office File</label>
                    <input name="officeFile" type="checkbox" ng-model="vm.share.storage.officeFile" id="officeFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="compressedFile">Compressed File</label>
                    <input name="compressedFile" type="checkbox" ng-model="vm.share.storage.compressedFile" id="compressedFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="dataAndDBFile">Data and DB File</label>
                    <input name="dataAndDBFile" type="checkbox" ng-model="vm.share.storage.dataAndDBFile" id="dataAndDBFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  
              </div>
              <div class="show-grid row" ng-if="vm.share.category == 'newShare'">
                  <div class="form-group col-md-4">
                    <label for="executableFile">Executable File</label>
                    <input name="executableFile" type="checkbox" ng-model="vm.share.storage.executableFile" id="executableFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="imageFile">Image File</label>
                    <input name="imageFile" type="checkbox" ng-model="vm.share.storage.imageFile" id="imageFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="programmingFile">Programming File</label>
                    <input name="programmingFile" type="checkbox" ng-model="vm.share.storage.programmingFile" id="programmingFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>              
              </div>
              <div class="show-grid row" ng-if="vm.share.category == 'newShare'">
                  <div class="form-group col-md-4">
                    <label for="videoFile">Video File</label>
                    <input name="videoFile" type="checkbox" ng-model="vm.share.storage.videoFile" id="videoFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="audioFile">Audio File</label>
                    <input name="audioFile" type="checkbox" ng-model="vm.share.storage.audioFile" id="audioFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="backupFile">Backup File</label>
                    <input name="backupFile" type="checkbox" ng-model="vm.share.storage.backupFile" id="backupFile"  class="form-control checkbox-left small" ng-change="calculateCapacity()">
                  </div>              
              </div>

              <div class="show-grid row" ng-if="vm.share.category == 'resize'">
                <label class="control-label col-md-4 text-left" for="bu">Cost($)</label>
                <label class="content-right col-md-8" name="bu">{{(vm.incrementGb * getYearDiff() * 1) > 0 ?(vm.incrementGb * getYearDiff() * 1) : 0 }}</label>
              </div> 
              
            </div>
          </div>

          <!-- <div class="typehead-demo">
              <input type="text" ng-model="vm.selected" uib-typeahead="state for state in vm.states | filter:$viewValue | limitTo:8" class="form-control">
          </div> -->
                   
            <div class="row">
              <div class="col-md-5">
                  <div class="form-group" show-errors ng-if="vm.share.category == 'changePermission'">
                    <label for="operation" class="control-label">Select Operation</label>   
                    <select name="operation" ng-model="vm.share.operation" id="operation" class="form-control" ng-options="key as value for (key , value) in vm.allowedOperations" required autofocus>
                      <option value="">Please select a Operation</option>
                    </select>
                    <div ng-messages="vm.form.shareForm.operation.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">ACL Operation required.</p>
                    </div>              
                  </div>       
                    
                  <div class="form-group" show-errors ng-if="vm.share.category == 'changePermission' &&  (vm.share.operation == 'addUserToADGroup' || vm.share.operation == 'removeUserFromADGroup' || vm.share.operation == 'removeUserOrGroupFromShare')">
      
                    <label ng-if="vm.share.operation == 'addUserToADGroup' || vm.share.operation == 'removeUserFromADGroup'" for="acl_group" class="control-label">Select ACL Group</label>  
      
                    <label ng-if="vm.share.operation == 'removeUserOrGroupFromShare'" for="acl_group" class="control-label" >Select ACL Group or user to remove</label>  
      
                    <select name="acl_group" ng-model="vm.share.acl_group" id="acl_group" class="form-control" ng-options="group.groupName as group.groupName for group in vm.getACLgroups()" required  ng-change="vm.checkForUsersToRemove()">
                      <option value="">Please select a ACL group</option>
                    </select>
                    <div class="loader" ng-if="vm.aclGroupLoader"></div>
                    <div ng-messages="vm.form.shareForm.acl_group.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">ACL group is required.</p>
                    </div>              
                  </div>
				  
				          				
				           <div class="form-group" show-errors ng-if="vm.share.category == 'changePermission' && vm.share.operation && (vm.share.operation == 'addUserOrGroupToShare')">
                    <label class="control-label" for="userOrGroupName">User ID/ Group</label>
                    <div  ng-dropdown-multiselect="" search-filter="vm.customFilter" options="vm.usersAndGroups" selected-model="vm.aclUserGroup" extra-settings="vm.acluserGroupSettings" translation-texts="vm.defaultUserSelectionText"  disabled= "(vm.usersAndGroups && vm.usersAndGroups.length > 0) ? false: true" events="vm.userDropdownaclUserGroupInitEvents"  class="acluserGroup" group-by="ADtype"></div>
					         <div class="loader" ng-show="vm.acluserGroupLoader"></div>
                  </div>
					        
		
                  <!--<div class="form-group" show-errors ng-if="vm.share.category == 'changePermission' && vm.share.operation && vm.share.operation == 'addUserOrGroupToShare'">
                      <label class="control-label" for="userOrGroupName">User Or Group name</label>
                      <input name="userOrGroupName" type="text" ng-model="vm.share.userOrGroupName" id="userOrGroupName" class="form-control" placeholder="User or Group name" required ng-pattern="/^[a-zA-Z\-0-9\._]*$/">
                      <div ng-messages="vm.form.shareForm.userOrGroupName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">User or Group name required.</p>
                        <p class="help-block error-text" ng-message="pattern">Alpha numeric chars including . and _  are allowed</p>
                      </div>
                  </div>-->
        
                  <div class="form-group" show-errors ng-if="vm.share.category == 'changePermission' && vm.share.operation && vm.share.operation == 'addUserOrGroupToShare'">
                      <label class="control-label" for="userOrGroupPermissions">User Or Group Permissions</label>
                      <select name="userOrGroupPermissions" ng-model="vm.share.userOrGroupPermissions" id="userOrGroupPermissions" class="form-control" ng-options="key as value for (key , value) in vm.allowedPermissions" required>
                          <option value="">Please select a Permission</option>
                      </select>
                      <div ng-messages="vm.form.userOrGroupPermissions.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Permissions are required.</p>
                        </div> 
                    </div>
					
					
                    
                  <div class="form-group" show-errors ng-if="vm.share.category == 'changePermission' && vm.share.operation && (vm.share.operation == 'addUserToADGroup' || vm.share.operation == 'removeUserFromADGroup')">
                    <label class="control-label" for="acl_users">User IDs</label>                  
					            <p class="outlined" ng-if="vm.acl_users.length > 0">
                        <span class="selectedUser" ng-repeat=" user in vm.acl_users">
                          <span>{{user.id}}</span>
                            <span aria-hidden="true" class="close inner-close" ng-click="vm.removeItem(vm.acl_users, $index)">&times;</span>
                      </p>
                     <!-- test {{(vm.users && vm.users.length > 0 && vm.share.acl_group !== '')}} -->
                    <div  ng-dropdown-multiselect="" search-filter="vm.customFilter" options="vm.users" selected-model="vm.acl_users" extra-settings="vm.useridSettings" translation-texts="vm.defaultUserOnlySelectionText"  disabled= "(vm.users && vm.users.length > 0 && vm.share.acl_group !== '')  ? false: true" events="vm.userDropdownUseridInitEvents"  class="userids" group-by="ADtype"></div>
					         <div class="loader" ng-show="vm.useridsLoader"></div>
                  </div>
                  <div ng-if="vm.share.category == 'rename'">
                    <div class="form-group" show-errors>
                        <label class="control-label" for="NewName">New name</label>
                        <input name="newName" type="text" ng-model="vm.share.newName" id="newName" class="form-control" placeholder="New Name" ng-required="vm.share.category == 'rename'"  ng-pattern="/^[a-zA-Z\-0-9\._]+$/"
                        >
                        <div ng-messages="vm.form.shareForm.newName.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">New name is required.</p>
                          <p class="help-block error-text" ng-message="pattern">Only alphanumeric chars including dash and underscore are allowed.</p>
                        </div>
                    </div>
                  </div> 
        
                  <div ng-if="vm.share.category == 'resize'">
                    <div class="form-group" show-errors>
                        <label class="control-label" for="usedsizegb">Used Space(GB)</label>
                        <input name="usedsizegb" type="text" ng-model="vm.usedsizegb" id="usedsizegb" class="form-control" placeholder="Size"  ng-readonly="true">
                    </div>
                    <div class="form-group" show-errors>
                        <label class="control-label" for="allocatedSize">Allocated Space(GB)</label>
                        <input name="allocatedSize" type="text" ng-model="vm.allocatedSize" id="allocatedSize" class="form-control" placeholder="Size"  ng-readonly="true">
        
                    </div>
                    <div class="form-group" show-errors>
                        <label class="control-label" for="incrementGb">Increment/Decrement the size by(GB)</label>
                        <input name="incrementGb" type="number" ng-model="vm.incrementGb" id="incrementGb" class="form-control" placeholder="Size" ng-required="vm.share.category == 'resize'"  step="5" ng-min="{{-vm.availableSize}}" required>
                        <div ng-messages="vm.form.shareForm.incrementGb.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Please select the size in step of 5.</p>
                          <p class="help-block error-text" ng-message="min">Please select the size lesser than or equal to {{vm.availableSize}}.</p>
                        </div>
                      </div>
                    
                       
                        
                      </div>
                  </div> 
                  </div>   
              </div>
            </div>

            <div class="row" style="margin-bottom:30px;">
              <div class="form-group col-md-7" >
                  <button type="submit" class="btn btn-primary pull-right" ng-click="vm.save(vm.form.shareForm.$valid)">{{vm.share._id ? 'Update' : 'Create'}}</button>
                </div>
            </div>

            
        </fieldset>
      </form>
    </div>
  </section>
