<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h1>
                    Requests                
                </h1>            
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.searchRecords()" />
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <a class="btn btn-primary pull-right" data-ui-sref="shares.create">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
            </div>
        </div>
    </div>
    <div class="table-responsive" ng-show="vm.pagedItems.length>0">
        <table ng-table="tableParams" class="table table-bordered table-striped">
            <tr>
                <th >City</th>
                <th>Business Unit</th>
                <th >Project Code</th>
                <th >Category</th>                
                <th >Status</th>
                <th ng-if="vm.isAdmin">Raised By</th>
                <th></th>
            </tr>
          <tr ng-repeat="share in vm.pagedItems" >
            <td ng-bind="share.city" class="capitalize breakword" title="'City'" sortable="'city'"></td>
            <td ng-bind="share.bu" class="capitalize breakword" title="'Business Unit'" sortable="'bu'"></td>
            <td ng-bind="share.projectCode" class="capitalize breakword" title="'Project Code'" sortable="'projectCode'"></td>
            <td ng-bind="vm.categories[share.category]" class="capitalize breakword" title="'Category'" sortable="'category'"></td>
            <td ng-bind="share.status" ng-class="vm.getClass(share.status)" title="'Status'" sortable="'status'" class="breakword"></td>
            <td ng-bind="share.user.displayName" ng-if="vm.isAdmin" title="'user'" sortable="'user'" class="breakword"></td>
            
           
            <td><button type="button" class="btn btn-xs btn-primary" ui-sref="shares.view({shareId: share._id})">Details</button></td>
          </tr>
        </table>
    </div>

    <!-- <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()" ng-show="vm.pagedItems.length"></uib-pagination> -->
   
    <div class="text-center" style="margin-bottom:20px;" ng-show="(vm.totalRecords - vm.currentPage * vm.itemsPerPage) > 0  && vm.loading == false">
        <button class="btn btn-primary" value="Load More" ng-click="vm.loadMore()">Load More</button>
    </div>
    

    <div class="alert alert-warning text-center" ng-show="vm.pagedItems.length==0 && vm.loading == false">
    No Records found.
    </div>
</section>
      