<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-4">
                <h1>
                    Requests                
                </h1>            
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
            </div>
            <div class="col-md-4" style="margin-top: 2em">
                <a class="btn btn-primary pull-right" data-ui-sref="shares.create">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
            </div>
        </div>
    </div>
    <div class="table-responsive" ng-show="vm.pagedItems">
        <table ng-table="tableParams" class="table table-bordered table-striped">
            <tr>
                <th >City</th>
                <th >ProjectCode</th>
                <th >Category</th>
                <th >Cost</th>
                <th >Size</th>
                <th >Status</th>
                <th >Storage requirement</th>
                <th></th>
            </tr>
          <tr ng-repeat="share in vm.pagedItems" >
            <td ng-bind="share.city" class="capitalize breakword" title="'City'" sortable="'city'"></td>
            <td ng-bind="share.projectCode" class="capitalize breakword" title="'ProjectCode'" sortable="'projectCode'"></td>
            <td ng-bind="share.category" class="capitalize breakword" title="'Category'" sortable="'category'"></td>
            <td ng-bind="share.cost" title="'Cost'" sortable="'cost'" class="breakword"></td>
            <td ng-bind="share.sizegb" title="'Size'" sortable="'size'" class="breakword"></td>
            <td ng-bind="share.status" title="'Status'" sortable="'status'" class="breakword"></td>
            <td  title="'Storage requirement'"  class="breakword"> 
              <li ng-repeat="(file, details) in share.storage" style="list-style-type: square;">
                {{vm.fileSizeTypes[file]}}
              </li>
            </td>
           
            <td><button type="button" class="btn btn-xs btn-primary" ui-sref="shares.view({shareId: share._id})">Details</button></td>
          </tr>
        </table>
    </div>

    <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
      