<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <h3>
                    Requests                
                </h3>            
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 1.5em">
                <input class="form-control" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.searchRecords()" />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 1.5em">
                <a class="btn btn-primary pull-right" data-ui-sref="shares.create">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
            </div>
        </div>
    </div>
    <div class="table-responsive" ng-show="vm.pagedItems.length>0">
        <table ng-table="tableParams" class="table table-bordered table-striped">
            <tr>
                <th ></th>
                <th >Location</th>
                <th>Business Unit</th>
                <th >Project Code</th>
                <th >Category</th>                
                <th >Status</th>
                <th ng-if="vm.isAdmin">Raised By</th>
                <th></th>
                <th ng-if="vm.isAdmin"></th>
            </tr>
          <tr ng-repeat-start="share in vm.pagedItems" >
            <td  width="10px">{{$index +1 }}</td>
            <td ng-bind="share.city" class="capitalize breakword" title="'Location'" sortable="'city'"></td>
            <td ng-bind="share.bu" class="capitalize breakword" title="'Business Unit'" sortable="'bu'"></td>
            <td ng-bind="share.projectCode" class="capitalize breakword" title="'Project Code'" sortable="'projectCode'"></td>
            <td ng-bind="vm.categories[share.category]" class="capitalize breakword" title="'Category'" sortable="'category'"></td>
            <td ng-bind="share.status" ng-class="vm.getClass(share.status)" title="'Status'" sortable="'status'" class="breakword"></td>
            <td ng-bind="share.user.displayName" ng-if="vm.isAdmin" title="'user'" sortable="'user'" class="breakword"></td>
            <td><button type="button" class="btn btn-xs btn-primary" ui-sref="shares.view({shareId: share._id})">Details</button></td>
            <td ng-if="vm.isAdmin"> <button  type="button" class="btn btn-xs btn-primary" ui-sref="shares.fix({shareId: share._id})" ng-disabled="!(share.status=='Contact Support')">Fix</button></td>
          </tr>
          <tr ng-repeat-end>
              <td ng-if="!(share.status == 'Completed' || share.status == 'Contact Support' || share.status == 'Rejected')"></td>
            <td ng-if="!(share.status == 'Completed' || share.status == 'Contact Support' || share.status == 'Rejected')">
                 <div class="oval success">Requested</div>
                 <div class="pointer" ng-class="{ 'small-pointer' : vm.isAdmin} "></div>
            </td>
            <td ng-if="!(share.status == 'Completed' || share.status == 'Contact Support' || share.status == 'Rejected')">
             <div class="oval" ng-class="{'gray': share.status == 'Pending Approval', 'success': share.status== 'Approved' || share.status== 'Processing' }">Approved</div><div class="pointer" ng-class="{'gray': share.status == 'Pending Approval', 'small-pointer' : vm.isAdmin }"></div>
            </td>
            <td ng-if="!(share.status == 'Completed' || share.status == 'Contact Support' || share.status == 'Rejected')">
             <div class="oval" ng-class="{'gray': share.status == 'Pending Approval' || share.status== 'Approved', 'success':  share.status== 'Processing' }">Processing</div><div class="pointer" ng-class="{'gray': share.status == 'Pending Approval' || share.status== 'Approved', 'small-pointer' : vm.isAdmin}"></div>
            </td>
            <td ng-if="!(share.status == 'Completed' || share.status == 'Contact Support' || share.status == 'Rejected')">
             <div class="oval gray">Completed</div>
            </td>
          </tr >
        </table>
    </div>

    <!-- <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()" ng-show="vm.pagedItems.length"></uib-pagination> -->
   
    <!-- <div class="text-center" style="margin-bottom:20px;" ng-show="(vm.totalRecords - vm.currentPage * vm.itemsPerPage) > 0  && vm.loading == false">
        <button class="btn btn-primary" value="Load More" ng-click="vm.loadMore()">Load More</button>
    </div> -->

    <div infinite-scroll="vm.loadMore()" infinite-scroll-distance="0"></div>
    

    <div class="alert alert-warning text-center" ng-show="vm.pagedItems.length==0 && vm.loading == false">
    No Records found.
    </div>
</section>
      