<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-12 col-xs-offset-5">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.gif" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Netapp  Data Storage 
      </p>
    </div>
    <div class="row">
      <p>
        <!-- <a class="btn btn-primary btn-lg" href="https://meanjs.org" target="_blank" rel="noopener">Learn more</a> -->
      </p>
    </div>
  </div>
  
</section>
