<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-5 col-sm-6 col-sm-offset-5 col-xs-12 col-xs-offset-5">
        <img alt="NetApp" class="img-responsive text-center" src="modules/core/client/img/brand/logo.gif" />
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12 col-xs-offset-4" style="text-align:left;font-size:27px;">
        Storage as a Service
      </div>
    </div>
    <div class="row" style="text-align:right;">
      <p>
        <a style="font-size: 17px;"  ui-sref="shares.list">My Requests</a>
      </p>
      <p>
        <a style="font-size: 17px;" ui-sref="shares.create">New Request</a>
      </p>
    </div>
  </div>
  
</section>
