<div class="modal-header">
  <h3 ng-bind-html="modalOptions.headerText"></h3>
</div>
<div class="modal-body">
  <p ng-repeat='msg in modalOptions.bodyText' ng-bind-html="msg"></p>
</div>
<div class="modal-footer">
  <button ng-show="modalOptions.showCancel" type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-default"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button> 
</div>
